.user {
    display: flex;
    align-items: center;
    &__avatar{
        &__img {
            border-radius: 50%;
            width: 40px;
            height: auto;
        }
    }
    &__name {
        p {
            font-weight: 600;
        }
    }

}

